@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  background-color: #f5fcfd;
  color: #929292;

  #content {
    width: 98%;
    margin: auto;
  }
}

.form-gen-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 0 25px #f0f0f0;

  .form-buttons-section {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }

  .generic-field-wrapper {
    width: 400px;
  }

  .checkbox-field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 50px;
    width: fit-content;
    padding: 0 10px;
    background-color: #f0f0f0;
    border: solid #929292 1px;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
      background-color: #eaeaea;
    }

    > input[type='checkbox'] {
      width: 25px;
      height: 25px;
      cursor: pointer;

      &:checked {
        ~ label {
          color: #ffffff;
        }
      }

    }

    > label {
      font-weight: bold;
      user-select: none;
      cursor: pointer;
    }
  }

  .checkbox-field-clicked {
    background-color: #0f7bff;
    border-color: #0f7bff;

    &:hover {
      background-color: #0f7bff;
    }
  }

  .color-field-wrapper {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;

  }

  input {
    &.form-generic-input {
      outline: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    &.form-text-input, &.form-email-input, &.form-password-input, &.form-date-input, &.form-number-input {
      display: block;
      height: 50px;
      width: 88%;
      margin: 20px auto;
      padding: 0 20px;
      border-radius: 5px;
      border: 1px solid #dcdcdc;
    }

    &.form-color-input {
      background-color: #ffffff;
      width: 130px;
      height: 40px;
      border: solid #929292 1px;
      border-radius: 5px;
      cursor: pointer;
    }

    &.form-file-input {
      display: none;
    }

    &.form-date-input {
      cursor: pointer;
    }

    &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator {
      -webkit-appearance: none;
      display: none;
    }
  }

  .form-textarea-input {
    display: block;
    resize: none;
    min-height: 200px;
    width: 88%;
    margin: 20px auto;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;

    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  .form-file-input-btn {
    display: block;
    margin: 15px 0;
    width: 165px;
    line-height: 40px;
    color: #0f7bff;
    border: solid #0f7bff 1px;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #0f7bff;
      color: #ffffff;
    }
  }

  .form-multiple-choice-input {
    border: none;
    padding: 0;
    margin: 20px 0;

    > div {
      display: inline-flex;
      height: 40px;
      margin: 10px 0;
      margin-right: 10px;
    }
  }

  .form-references-section {
    width: 310px;
    overflow: hidden;
  }

  & .form-ref-container {
    margin: 0;
    margin-top: 23px;
    text-align: center;
  }

  & .form-ref-gen {
    text-decoration: none;
    color: #0f7bff;
  }

  .form-ref-checkbox {
    float: left;
    width: 30px;
    height: 30px;
    margin: 20px 10px;
    padding: 0;
    border-radius: 3px;
  }

  & .form-button {
    display: block;
    margin: 15px auto;
    width: 165px;
    height: 50px;
    background-color: #0f7bff;
    color: #ffffff;
    border-radius: 25px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
  }

  & .form-cancel-btn {
    background-color: #DC3545;
  }

  & .form-label {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
  }
}

@media screen and (max-width: 500px) {
  .form-gen-styles {
    padding: 20px 5px;
    width: 95%;
  }
}

@media screen and (max-width: 460px) {
  .form-gen-styles {
    .generic-field-wrapper {
      width: 280px;
    }

    .color-field-wrapper {
      width: 280px;
    }

    .form-buttons-section {
      width: 280px;
    }
  }

  .form-gen-styles {
    input {
      &.form-text-input, &.form-email-input, &.form-password-input, &.form-date-input, &.form-number-input {
        width: 85%;
      }
    }

    .form-textarea-input {
      width: 86%;
    }

    .form-file-input {
      width: 86%;
    }

    .form-references-section {
      width: 300px;
    }

    & .form-ref-container {
      font-size: 14px;
    }
  }


}